
@{
	ViewBag.Title = "Homepage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/homepage.css" rel="stylesheet" />


<div class="banner">
	<div id="imageContainer">
		<img src="~/Upload/app/Image/GigImage.png" class="img-responsive" alt="bannerImage">
	</div>
	<p class="text1">
		WELCOME TO
	</p>
	<p class="text2">
		MUSIC LOVERS
	</p>
	<div class="bannerBottomPart">
		<h6 class="brand">
			MUSIC LOVERS
		</h6>
	</div>
</div>

<section class="WebInformation">
	<p class="text">
		Are you ready to enjoy all the music that you can fine with us
	</p>
	<div class="icon">
		<img src="~/Upload/app/Image/musicIcon.png" alt="iconSection" class="icon" />
	</div>
</section>

<section class="other"></section>
<section class="other2"></section>
<section class="other3"></section>

